<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{ currentCategoryName }}</h4>
        <hr>

        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let p of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ p.id }}">
                            <img src="{{ p.imageUrl }}" alt="Product" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{ p.id }}">
                            <h1>{{ p.name }}</h1>
                        </a>

                        <div class="price">{{ p.unitPrice |currency: 'USD'}}</div>
                        <button (click)="addToCart(p)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>

                <!-- no products found -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found
                </div>
            </div>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md9" style="padding-left: 30%;">
                                <ngb-pagination [(page)]="page.number"
                                                [pageSize]="page.size"
                                                [collectionSize]="page.totalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">
                                </ngb-pagination>
                            </div>

                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select #pageDropwDown
                                    (change)="updatePageSize(+pageDropwDown.value)" >
                                    <option value="2">2</option>
                                    <option value="5" selected="true">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>